{{ if .Values.agent.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qalita-agent
  labels:
    app: "{{ .Release.Name }}-agent"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.agent.replicaCount }}
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-agent"
      release: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-agent"
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: cli
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          command: ["/bin/sh", "-c"]
          args: ["cat /etc/config/init.sh | /bin/sh; sleep infinity"]
          env:
          - name: QALITA_AGENT_NAME
            value: {{ .Values.agent.name }}
          - name: QALITA_AGENT_MODE
            value: {{ .Values.agent.mode }}
          - name: QALITA_AGENT_ENDPOINT
            value: "http://{{ .Release.Name }}-backend-service:3080"
          - name: QALITA_AGENT_TOKEN
            value: {{ .Values.agent.token }}
{{- if .Values.agent.deployment.extraEnv }}
{{ toYaml .Values.agent.deployment.extraEnv | indent 10 }}
{{- end }}
          volumeMounts:
            - name: init-script
              mountPath: /etc/config
{{- if .Values.agent.pvc.enabled }}
            - name: agent-store-pvc
              mountPath: /data
            - name: agent-store-pvc
              mountPath: /root/.qalita/
              subPath: ./qalita
{{- end }}
{{- if .Values.agent.privileged }}
          securityContext:
            allowPrivilegeEscalation: true
            privileged: true
{{- end }}
        - name: agent
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          command: ["/bin/sh", "-c"]
          args: ["cat /etc/config/init.sh | /bin/sh; /app/qalita/main.py agent run"]
          env:
          - name: QALITA_AGENT_NAME
            value: {{ .Values.agent.name }}
          - name: QALITA_AGENT_MODE
            value: {{ .Values.agent.mode }}
          - name: QALITA_AGENT_ENDPOINT
            value: "http://{{ .Release.Name }}-backend-service:3080"
          - name: QALITA_AGENT_TOKEN
            value: {{ .Values.agent.token }}
{{- if .Values.agent.deployment.extraEnv }}
{{ toYaml .Values.agent.deployment.extraEnv | indent 10 }}
{{- end }}
          volumeMounts:
            - name: init-script
              mountPath: /etc/config
{{- if .Values.agent.pvc.enabled }}
            - name: agent-store-pvc
              mountPath: /data
            - name: agent-store-pvc
              mountPath: /root/.qalita/
              subPath: ./qalita
{{- end }}
      volumes:
        - name: init-script
          configMap:
            name: "qalita-agent-initscript"
{{- if .Values.agent.pvc.enabled }}
        - name: agent-store-pvc
          persistentVolumeClaim:
            claimName: qalita-agent-store
{{- end }}
{{- if .Values.agent.privileged }}
          securityContext:
            allowPrivilegeEscalation: true
            privileged: true
{{- end }}
      {{- if .Values.dockerregistry.enabled }}
      imagePullSecrets:
      - name: qalita-platform-dockerregistry
      {{- end }}
{{ end }}
