apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-frontend"
  labels:
    app: "{{ .Release.Name }}-frontend"
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
{{ include "qalita.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: "{{ .Release.Name }}-frontend"
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: "{{ .Release.Name }}-frontend"
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: "frontend"
        image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
        imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
        startupProbe:
          httpGet:
            path: /signin
            port: {{ .Values.frontend.service.targetPort }}
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 5
          timeoutSeconds: 5
        livenessProbe:
          httpGet:
            path: /signin
            port: {{ .Values.frontend.service.targetPort }}
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 60
          failureThreshold: 2
          timeoutSeconds: 5
        env:
          - name: NODE_ENV
            value: "{{ .Values.frontend.mode }}"
          - name: QALITA_API_URL
            value: "http://{{ .Release.Name }}-backend-service:3080"
          - name: NEXT_TELEMETRY_DISABLED
            value: "{{ .Values.frontend.telemetryDisabled }}"
          - name: NEXT_WEBPACK_USEPOLLING
            value: "{{ .Values.frontend.webPackPolling }}"
{{- if .Values.frontend.deployment.extraEnv }}
{{ toYaml .Values.frontend.deployment.extraEnv | indent 10 }}
{{- end }}
        ports:
        - containerPort: {{ .Values.frontend.service.targetPort }}
          name: {{ .Values.frontend.service.targetPort }}{{ .Values.frontend.service.protocol | lower }}
          protocol: {{ .Values.frontend.service.protocol }}
{{- if .Values.frontend.deployment.resources }}
        resources:
{{ toYaml .Values.frontend.deployment.resources | indent 10 }}
{{- end }}
      {{- if .Values.dockerregistry.enabled }}
      imagePullSecrets:
      - name: qalita-platform-dockerregistry
      {{- end }}
